.splide {
  width: 400px;
}

#splide .splide__slide {
  /* transition: transform 0.3s ease, opacity 0.3s ease; */
  /* opacity: 0.6; */
  /* transform: scale(0.8); */
  width: 400px !important;
  /* height: 100px; */
}

#splide .splide__slide.is-active {
  opacity: 1;
  /* transform: scale(1); */
  height: 300px;
}

/* .splide__slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
} */

#thumbnail-carousel {
  margin-top: 15px;
}

#thumbnail-carousel .splide__slide {
  width: 70px !important;
  height: 60px;
  opacity: 0.5;
  cursor: pointer;
  border: 2px solid transparent;
  transition: opacity 0.3s, border-color 0.3s;
  overflow: hidden;
  border-radius: 10px;
}

#thumbnail-carousel .splide__slide.is-active {
  opacity: 1;
  border-color: black;
  border-radius: 10px;
}

#thumbnail-carousel .splide__list {
  display: flex;
  justify-content: center;
}

#splide .bloco-azul,
#splide .bloco-vermelho,
#splide .bloco-verde {
  height: 430px;
  /* border-radius: 40px; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#splide .bloco-azul {
  background-color: blue;
}

#splide .bloco-vermelho {
  background-color: red;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#splide .bloco-vermelho img {
  width: 100%;
}

/* #splide .splide__slide.is-active .bloco-vermelho img {
  height: 300px;
} */

#splide .bloco-verde {
  background-color: green;
}

#thumbnail-carousel .bloco-azul,
#thumbnail-carousel .bloco-vermelho,
#thumbnail-carousel .bloco-verde {
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#thumbnail-carousel .bloco-azul {
  background-color: blue;
}

#thumbnail-carousel .bloco-vermelho {
  background-color: red;
}

#thumbnail-carousel .bloco-verde {
  background-color: green;
}

#thumbnail-carousel .splide__slide:last-child {
  margin: 0 !important;
}

/* ----------------------------------------------------- */

.detalhes-produto-container {
  display: flex;
  gap: 40px;
}

.detalhes-produto-container .informacoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulo-produto-info {
  color: #3f3f3f;
  font-size: 36px;
  font-weight: 300;
  width: 400px;
  line-height: 1.1;
}

.descricao-produto-info {
  color: #595959;
  font-family: "Wix Madefor Text";
  font-size: 17px;
}

.group-valor p {
  color: #3f3f3f;
  font-family: "Zen Antique";
  font-size: 19.83px;
}

.group-valor img {
  width: 100px;
}

.group-actions-carrinho {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.qtd-items {
  display: flex;
  width: 120px;
  padding: 10px 16.207px 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 19px;
  border-radius: 35px;
  border: 0.5px solid #6d6d6d;
}

.add-carrinho {
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: #a85a08;
  color: #fff;
  font-size: 15px;
}

.produtos-relacionados {
  color: #3f3f3f;
  font-size: 22px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 15px;
}

/* ----------------------------------------------------------- */
/* .grid-produtos {
  display: grid;
  grid-template-columns: repeat(4, 184px);
  gap: 20px;
} */

.produto {
  width: 184px;
  height: 287px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  overflow: hidden;
  flex-shrink: 0;
}

.produto-detalhes {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.produto .image-produto {
  background: url(../images/produtos/produto-1.jpg) no-repeat;
  width: 184px;
  height: 174px;
}
.produto-detalhes .descricao-produto {
  color: #3f3f3f;
  font-size: 14px;
}
.produto-detalhes .valor-produto {
  color: #3f3f3f;
  font-size: 14px;
}

/* RESPONSIVIDADE */

@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100 */
}
@media (min-width: 1025px) and (max-width: 1201px) {
  /* 924 */
}

@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */
  .grid-produtos {
    grid-template-columns: repeat(2, 184px);
  }
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */
  .grid-produtos {
    grid-template-columns: repeat(2, 184px);
  }
}
@media (max-width: 767px) {
  /* 360px */
  #conteudo-principal .banner-categoria {
    border-radius: 0px;
  }

  /* .grid-produtos {
    grid-template-columns: repeat(2, 170px);
    gap: 10px;
  } */

  .produto {
    width: 170px;
  }

  .produto .image-produto {
    width: 170px;
  }
}

/* ---------------------------------- */

.fotos {
  margin: 0 auto;
  max-width: 800px;
}

#splide.splide {
  margin-bottom: 1rem;
}

.splide__slide img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#thumbnail-carousel .splide__slide img {
  cursor: pointer;
  /* border: 2px solid transparent; */
  transition: border-color 0.3s ease;
}

/* #thumbnail-carousel .splide__slide.is-active img {
  border-color: #007bff;
} */

.fancybox__container .fancybox__backdrop {
  background: #000000c9;
}

#produtos-carousel .splide__slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

#produtos-carousel.splide {
  width: 800px;
}

/* RESPONSIVIDADE */

@media (min-width: 1201px) and (max-width: 1366px) {
  /* 1100 */
}
@media (min-width: 1025px) and (max-width: 1201px) {
  /* 924 */
}
@media (min-width: 881px) and (max-width: 1024px) {
  /* 780px */
}
@media (min-width: 768px) and (max-width: 880px) {
  /* 728px */
  .detalhes-produto-container {
    flex-direction: column;
  }

  #produtos-carousel.splide {
    width: 400px;
  }

  .splide__arrow--prev {
    left: -3em;
  }
  .splide__arrow--next {
    right: -3em;
  }
}
@media (max-width: 767px) {
  /* 360px */

  .detalhes-produto-container {
    flex-direction: column;
  }

  #produtos-carousel.splide {
    width: 360px;
  }

  .splide__arrow--prev {
    left: -3em;
  }
  .splide__arrow--next {
    right: -3em;
  }

  .splide {
    width: 360px;
  }

  .detalhes-produto-container .informacoes {
    width: 350px;
    margin: 0 auto;
  }
  .titulo-produto-info {
    width: 350px;
    font-size: 31px;
  }
}

.notificacao-container {
  width: 480px;
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(207, 207, 207);
  z-index: 1000;
  border: 1px solid #6d6d6d;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.close-image {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.imagem-group {
  height: 80px;
  position: relative;
}

.imagem-group svg {
  position: absolute;
  top: 0;
  right: -7px;
}

.imagem-group img {
  height: 100%;
}

.div-produto-adicionado {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.info-produto-adicionado {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.group-produto {
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #9c9c9c;
}

.total-compra {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.ver-carrinho {
  width: 95%;
  background-color: #7c3713;
  display: flex;
  justify-content: center;
  padding: 13px;
  align-items: center;
  margin: 0 auto;
  color: #fff;
  border-radius: 5px;
}

.text-adicionado-sucesso {
  font-weight: bold;
  font-family: "roboto";
}
